html{width:initial;}

body{background: url('../img/bg-accueil-left.png') no-repeat left top fixed,
  url('../img/bg-accueil-right.png') no-repeat right bottom fixed;
  background-size: 10%;
  text-align:center;
  width:inherit;
  font-family: 'Open Sans';
  font-weight: 100;
  /* zoom:100%;
  -moz-transform: scale(1);*/}

.main{margin-top:100px;}

.accueil .row{width:100% !important;}

 .no-padding [class*='col-'] {padding-right:0 !important;padding-left:0 !important;}

.mentions > div {margin:10px;
          margin-top:20px;}

.scroll_horiz_inner{list-style-type:none;}
.scroll_horiz_content{padding-left:0 !important;}

::-webkit-input-placeholder { font-family: Coolvetica; }
::-moz-placeholder { font-family: Coolvetica; } /* firefox */
:-ms-input-placeholder { font-family: Coolvetica;} /* ie/edge */
input:-moz-placeholder { font-family: Coolvetica; }


/*----------------- Animation -------------------*/

#Animation-front{
  font: 24px 'Open Sans', sans-serif;
  text-align:center;
  font-weight:100;
  color: #999;
  margin: 40px 10px;
}

    .brand-heading img{width:25% !important;
                        height:auto;
                    margin-bottom:10px;}

.p-Anim{
  padding-left: 40%;
  height: 50px;
  float: left;
  white-space: nowrap;
  font-size: 24px;
  color : black;
}

.span-move {
  display: inline-block;
  color: #1b87c9;
  position: relative;
  white-space: nowrap;
  animation: move 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight:100;
}
@keyframes move {
  0%  { top: 0px; }
  25% { top: -30px; }
  50% { top: -65px; }
  75% { top: -0px; }
}

@-moz-@keyframes move {
  0%  { top: 0px; }
  25% { top: -30px; }
  50% { top: -65px; }
  75% { top: -0px; }
}

b {
  text-align: left;
  overflow: hidden;
  position: relative;
  height: 40px;
  float: left; 
}

/*----------------- TUTORIEL -------------------*/
#Anim{position:absolute;
      width:100%;
      height:100%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index:2;
      display:none;}

.tutorial{
      top:60px;
      right:0px;
      text-align: left;
      margin-top:300px;
      }

.account{width:4% !important;}

.tutorial p{margin:0;}

.tutorial img{position:absolute;
            top:0;
            right:0;
            width:100px;
            height:auto;}

.tutorial  ul li{list-style-type: none;}

/*----------------- FOOTER -------------------*/

#partenaire div:nth-of-type(1) {text-align:right !important;}
#partenaire div:nth-of-type(3) {text-align:left !important;}

#partenaire div, #mentions div{padding:0 !important;}

#partenaire h2{font-family:'Open Sans';
              font-weight:300;
              color:#000;
              padding:10px;
              background-color:#FFF;
              position:absolute;
              top:-50px;
              width:160px;
              text-align:center;}

#partenaire {border:1px solid #666;
            position:relative;
            width:70%;
            height:auto;
            margin-top: 100px;
            margin-left:auto;
            margin-right:auto;
            padding:20px;}

#mentions{font-size:10px !important;
          width:70%;
          margin:0 auto;}

#mentions p{font-size: 12px !important;}

#mentions div:nth-of-type(2) a {text-decoration:none !important;
            margin-right:10px;
            color:#000;}

#mentions div:nth-of-type(1){text-align:left;}
#mentions div:nth-of-type(3){text-align:right;}

.title-conf{color:#666;
      z-index:1;
      font-family:'Coolvetica';
      font-weight:300;}

.bloc-mobile{display:none;}

/*--------------Les 2 Bloc Principaux avec scroll -------------------*/

.LesMieuxNotees, .LesPlusSuivies{position:relative;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-sizing:inherit !important;}

.LesPlusSuivies{margin-top:50px;}



.bloc-conf img{width:100%;
  height:100%;}

.hover{position: absolute;
bottom: 65px;
text-align: right;
background-color: rgba(0, 0, 0, 0.5);
margin: 0px auto;
width: 100%;}

.hover a{color:#000;
    text-decoration: none;
    font-family: 'Coolvetica';
    vertical-align:middle;
    display:inline-block;
    font-size:24px;
    text-align:center !important;
  margin-right:10px !important;}


.bloc-conf p {margin:5px 0px !important;
            padding:0px 10px !important;
            line-height:1.2;
            text-align:left;
            width:100%;}


.bloc-conf{display:inline-block;
      margin:10px;
      width:300px;
      position:relative;
     -moz-box-shadow: 2px 2px 5px 0px #656565;
     -webkit-box-shadow: 2px 2px 5px 0px #656565;
     -o-box-shadow: 2px 2px 5px 0px #656565;
     box-shadow: 2px 2px 5px 0px #656565;}


.ville-conf, .nom-conf{
      color:#000;
      padding:10px;
      font-family: 'Coolvetica';
      font-size:18px;}

.bloc-conf p:nth-of-type(1){font-size:24px;}
.bloc-conf p:nth-of-type(2){font-family:'Open Sans';}

.hover a{color:#FFF;
    text-decoration: none;
    font-family: 'Coolvetica';
    vertical-align:middle;
    display:inline-block;
    font-size:24px;
    text-align:center !important;}

    #partenaire{min-height:70px;}

/*----------------- Mentions legales -------------------*/


/*---------------------------------------*/


@media(min-width:1024px){

/*--------------Les 2 Bloc Principaux avec scroll -------------------*/

.title-conf{color:#666;
      position:absolute;
      top:-50px;
      left:10px;
      background-color:#FFF;}



/*--------------------------------------------*/
}

@media(min-width:1024px) and (max-width:1200px){

body{  background-size: 15%;}


}

@media(min-width:768px) and (max-width:1024px) {

body{  background-size: 15%;}

  #scroll_horiz_content{
    padding-bottom:40px;
  }

  .p-Anim{
    padding-left: 30%;}


}

@media(min-width:480px) and (max-width:768px) {

  body{  background-size: 20%;}

.title-conf {
    left:none;
    top: -75px;
    width: 100%;
    text-align: center;
    background-color: transparent; 
    z-index: 1;}

  #scroll_horiz_content{
    padding-bottom:40px;
  }


#partenaire{min-height:50px;}

.p-Anim{
    padding-left: 30%;}

    .conference .content [class*='col-']{padding:0;}

}

@media(max-width:480px){

body{  background-size: 30%;}

#partenaire h2
{
   padding:5px;
   font-size:24px;
}

#partenaire {
    min-height: 50px;
    padding:0px !important;
}

#mentions {
    width: 80%;
}

.accueil .row {margin:0;}


/*--------------Responsive div partenaires-----------*/

#partenaire {
    border: 1px solid #666;
    position: relative;
    width: 80%;
    min-height: 100px;
    margin-top:40px;
}

#partenaire h2 {
    font-size: 18px;
    padding: 10px;
    width:100px;
    left: 5px;
}

#partenaire img{width:80%;}

#partenaire div, #mentions div {
    padding: 0px !important;
    margin-top: 30px;
}

#partenaire div:nth-of-type(3) {
    text-align: left !important;
    margin-top:30px;
    margin-left:20px;
}

#partenaire div:nth-of-type(2){display:none;}

#mentions > div {
          margin-top:10px;
          font-size:8px;}

#mentions img{width:30%;}



/*footer .row .col-xs-12 {padding-left:0!important;}

/*----------------------------------------------------*/

/*-----------------mini-nav secondaire responsive button les plus suivies et les mieux notées*/

.main{margin-top:0px;}
#Animation-front{display:none;}

.nav-mobile{display:inline-block;
            top:100px !important;
            padding:0 !important;}

.btn-clicked{color:#666; 
            background-color:#FFF;
            border: 1px solid #666;
            width:100%;
            height:50px;}

.btn-unclicked{color:#FFF; 
            background-color:#666;
            border: 1px solid #666;
            width:100%;
            height:40px;}

.col-btn{padding:0 !important;}

.LesMieuxNotees, .LesPlusSuivies{display:none;}

/*-----------------bloc conf responsive-------------*/

.scrollToShow{display:none;}

.main-bloc-mobile .row{margin:0;}

.bloc-responsive{text-align:left;
                 border:1px solid #3399CC;
                 margin:10px;}

.bloc-responsive h2{font-size:24px;
                  font-family:'Coolvetica';
                  margin:0! important;}

.bloc-responsive button{font-family: 'Coolvetica';
                        padding:5px;
                        background-color:#000;
                        color:#FFF;
                        border-color:#000 !important;}

.bloc-responsive button:hover{background-color:#FFF !important;}

.bloc-responsive button:active{background-color:#FFF !important;}

.bloc-responsive img{width:100%;}

.bloc-mobile:first-child{margin-top:175px !important;
             margin-bottom:50px;}

.bloc-mobile .col-xs-12 {padding-left: 0 !important;
                        padding-right: 0 !important;}

.bloc-mobile{display:block;}

.description-mobile{padding:10px;
                    background-color:rgba(255, 255, 255, 0.8);}

.mentions-legales > .row{margin-top:100px !important;}


.isotope {
    margin: 0px !important;}

.conference .content [class*='col-']{padding:0;}

/*--------------------------------------------------*/

}

/*-----------MENTIONS LEGALES----------*/

.mentions-legales{text-align:left !important;
                margin:100px 10px!important;
                padding:10px !important;
                background-color:rgba(255,255,255,0.8);}

.mentions-legales a{color:#000 !important;}

.mentions-legales h1 {font-family: 'Coolvetica';
                      font-size:32px;}

.mentions-legales h2 {font-family: 'Coolvetica';
                      font-size:24px;}

/*-----------AGENDA----------*/

.agenda{margin-top:120px;
        background-color:rgba(255,255,255,0.8);}

.agenda .row {margin:0;}

.title-agenda{
              font-family: 'Coolvetica';
              border-bottom:1px solid #000;
              width:100%;
              margin:50px 0px  !important;
              }

.AgendaFilter{margin-bottom:50px;}

.AgendaFilter a { 
    margin-right: 10px; 
    color:#666;
    font-size: 18px;
    font-family: 'Open Sans';
    text-decoration:none;
    text-align: left;
    font-weight:100;
}
.AgendaContainer{position:relative;}

.AgendaContainer img{width:100%;
                  height:auto;}

.AgendaContainer div{width:300px;
                    height:340px;
                    border:1px solid #3399CC;
                    margin:5px;}

.AgendaFilter a.current { 
    font-weight:bold;}

.AgendaContainer button{font-family: 'Coolvetica';
                        padding:8px;
                        background-color:#3399CC;
                        color:#FFF;
                        border-color:#FFF !important;
                        width:100%;
                        margin:0;
                        position:absolute;
                        bottom:0;
                        left:0;
                        transition: all 0.6s ease 0s;}

.AgendaContainer button:hover{background-color:#FFF !important;
                              border-color:#3399CC !important;
                              color:#000 !important;}

.AgendaContainer button a:hover{color:#000 !important;}

.AgendaContainer button:active{background-color:#FFF !important;}

.lien-conf{text-decoration:none !important;
          color:#FFF !important;}



.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
    margin:50px;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}