/******************* MY CSS FILE ****************************/
/*body{zoom:150%;}*/

.col-sm-12{
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 15px;
}

#affichage{
  margin-bottom: 15px;
}

.ajout_conf{margin:120px 50px;}

form {
  position: center;
  padding-top: 2%;
  border-top: 2px solid #3399cc;
  background-color: rgba(255,255,255,0.8);
}

.ajout_conf .row{margin:0!important;}

.ajout_conf h1 {font-family: 'Coolvetica';}

.help-block{    text-align: left;
    font-size: 24px;}

#num_prix{margin-top:10px;}
  
.form-group {
  padding-left: 10px;
  padding-right: 10px;
}

.affichage-valider {
  margin-left : auto;
  margin-right:  : 50%;
}

#btn-valider{background-color:#FFF !important;
             border-color:#3399CC !important;
             color:#000 !important;
              font-family: 'Coolvetica';}


@media (min-width: 768px) {
  .container {
    width: 750px;
    margin-left: 30px;
  }

  .form-group {
    padding-left: 30px;
  }
}

@media (min-width: 880px) {
  .container {
    width: 860px;
    margin-left: 30px;
  }
    .form-group {
    padding-left: 30px;
  }

  form{
    padding-left: 12%;
}}
}

@media (min-width: 992px) {
  .container {
    width: 950px;
    margin-left: auto;
  }
  form {
    width: auto;
  }
  .form-group {
    padding-left: 30px;
    padding-right: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-left: auto;
  }
  form {
    width: auto;
  }
}

@media(max-width:480px){
.help-block{    text-align: left;
    font-size: 18px;}

  }