
.content h1{
    color: #000;
    border-bottom: 1px solid #3399cc;
    font-size: 50px;
    text-align: left;
    font-family: 'Coolvetica';
}

#affiche a{
    float: right;
}

.all{
    background-color: #fff;
}

a{
    color: #3399cc;
}

.content{
    margin-top: 120px;
    margin-left: 5px;
    margin-right: 5px;
}

#affiche{
    padding: 10px;
    background-color: #fff;
}

#affiche img{
    width: 100%;
    padding-bottom: 10px;
}

#affiche li{
    display: inline-block;
}

#affiche .key{
    padding-top: 10px;
    border: 1px solid black;
}

.over{
    padding: 2px;
    margin-right: 2px;
    font-size: 24px !important;
}

.key ul{
    list-style-type: none;
    padding-left: 5px;
}

#social{
    margin-top: 20px;
    border: 1px solid #3399cc;
    padding: 10px 0 10px 10px;
    background-color: #fff;
}

#social a{
    font-size: 15px;
}

#utile{
    min-height: 350px;
    background-color: #fff;
}

    #utile{
        min-height: 400px;
    }

@media screen and (max-width: 1200px){
    #utile{
        min-height: 500px;
    }
}

@media screen and (max-width:768px){

    #utile{
        min-height: 400px;
    }

    #prix > div{margin:5px;}

    .mCSB_inside > .mCSB_container {
    margin-right: 5px !important;
}

}
#utile ul{
    padding : 0;
    margin:0;
}

#utile li{
    display: inline-block;
}

#utile button{
    min-width: 115px;
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


#utile button a{
    color : #000;
}

#utile p{
    font-size: 14px;
}

#langue, #prix, #inter{
    margin-top: 20px;
    text-align: center;
}

#langue img{
    width: 25px;
    height: 20px;
    border-radius: 5px;
}

#hashtag{
    color: #fff;
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: #3399cc;
}

.date{
    text-align: center;
    font-size: 18px;
}


#description{
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    text-align: justify;
}

#description p{
    font-size: 15px;
}

.other{
    padding:5px;
    height:100%;
    background-color: #fff;
}


    .other h2{font-family: 'Coolvetica';
              font-size:24px;
                margin:10px;}

.other .conf:hover{
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}


#block-conf{height:850px;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;}

.conf{
    margin-left: 10px;
    border: 1px solid #3399cc;
}

.conf h2{
    color :#000;
    font-size: 10px;
    border-bottom: 1px solid #3399cc;
}

.conf img{
    width: 100%;
    height: 100%;
}

.num{
    text-align: center;
    font-size: 18px;
}

.num li{
    display: inline-block;
    min-width: 70px;
    padding: 5px;
}

#prix{
    font-size: 20px;
    
}

#prix span{
    font-size: 30px;
    background-color: #3399cc;
    color: #fff;
    padding: 2px;

}

button{
    background-color: #3399CC !important;
}

button a{
        color:#fff!important;
        text-decoration: none!important;
}

.maps{
    height: 400px;
    margin-top: 20px;
}

.adress{
    display: none;
    background-color: #fff;
    border: 1px solid #3399cc;
    padding-top: 10px;
    padding-bottom: 5px;
}

#local{
    background-color:#3399cc;
    color:white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

/** Notation **/
.rating {
   direction: rtl;
   text-align: center;
   margin-bottom:20px;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 20px;
   transition: color .4s;
}
.rating a:hover, .rating a:focus, .rating a:hover ~ a, .rating a:focus ~ a {
   color: #3399cc;
   cursor: pointer;
}

@media screen and (max-width: 640px){
    .maps{
        display: none;
    }

    .content h1{
    font-size: 24px;
}

    .adress{
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    #utile, #social, #description {
        margin-left: 0;
    }

    #prix, #inter, #langue, #social{
        text-align: center;
    }

    .other{
        margin-top: 20px;
        margin-left: 0;
    }

    #utile button a{
        font-size: 14px;
    }


     #inter{
        min-height: 40px;

    }
}

@media screen and (min-width: 640px) and (max-width: 768px){
    #utile{
        margin-top: 20px;
    }

    #description, #social{
        margin-bottom: 20px;
    }

    #prix, #inter, #langue, #social{
        text-align: center;
    }

    #inter{
        min-height: 40px;

    }

    .navbar-brand img{
        width: 70px;
        height: 40px;
    }

    .cache{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

#block-conf{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#duree{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}

.content li{list-style-type: none !important;}

.content .bloc-conf{width:100%;
                    margin-top:10px;}

.content .hover {
    width: 100%;
    left: 0;
}




