.content{
	margin-top: 115px;
	margin-left: 20px;
	margin-right: 20px;
}

.content h2{
	border-bottom: 2px solid #3399cc;
	text-align: left;
	font-family: Coolvetica;
}

/************************* CSS **********************/

.contact .form
{
	text-align: left;
	background-color: rgba(253,255,255,1);
}

.row 
{
	margin: 0;
}


.form-group  input 
{
	margin-right: 72px;
	margin-bottom: 20px;
}

span
{
	position: inherit;
}

#prenom
{
	margin-left: 70px;
}

.submit
{
	text-align: center;
}

.message,textarea
{
	width: 100%;
	max-width: 100%;
}


::-webkit-input-placeholder { font-family: Coolvetica; }
::-moz-placeholder { font-family: Coolvetica; } /* firefox */
:-ms-input-placeholder { font-family: Coolvetica;} /* ie/edge */
input:-moz-placeholder { font-family: Coolvetica; }

@media (min-width: 768px){
.form-inline .form-control {
		width: 100%;
		display: block;
	}


}

@media (max-width: 768px){
	#prenom
	{
		margin-left: 0px;
	}
}