
body{background: url('../img/bg-accueil-left.png') no-repeat left top fixed,
  url('../img/bg-accueil-right.png') no-repeat right bottom fixed;
  background-size: 10%;
  text-align:center;
  width:inherit;
  font-family: 'Open Sans';
  font-weight: 100;}


 .no-padding [class*='col-'] {padding-right:0 !important;padding-left:0 !important;}

h3
{
  font-family: Coolvetica;
  color: #666;
  z-index: 1;
  font-weight: 100;
}


.right
{
  float: right;
    margin-top: -2.5%;
}

h3,h2
{
  text-transform: none;
}

.menu-options
{
  width: 20%;
  text-align: left;
  float: left;
}

.liste-conferences
{
   width: 80%;
   float: right;
   min-width: 200px;
}

.list-conf{margin-top:8%;}

table th 
{
	width: 10%;
	padding: 8px;
	text-align: center;
}

table td
{
	text-align: center;
}


.btn-group
{
	margin-top: 1.5%;
}

footer
{
  text-align: center;
  width: 100%;
  height: 60px;
}

footer div
{
  height: 100%;
}

footer a
{
   text-decoration: underline;
}

.surcharge, .surcharge a
{
  text-transform: none;
  font-family: Opensan;
  color: #5bc0de;
  font-size: 14px;
}

.right
{
  text-align: right;
}


.btn-primary {
  background: #3399CC;
  border-color: #3399CC;
  background-image: linear-gradient(to bottom,#3399CC ,#3399CC ,rgba(91,192,222,1));
}

.btn-primary:hover,.btn-primary:focus {
  background: #3399CC;
  background-image: none;
  border-color: #3399CC;
}

option:disabled{
     background-color: #FFFFFF;
}

.fa-expeditedssl
{
  font-size: 100px;
  color: black;
  width: 100%;
  height: 100%;
}

.nav-list{text-align:center;}

#contenu tr:hover
{
  background-color:#3399CC;
transition: all 0.6s ease 0s;
color:#FFF;}

.account
{
  width: 4% !important;
}
#langue{
    margin-right: 50px;}

/*----------------- FOOTER -------------------*/

#partenaire div:nth-of-type(1) {text-align:right !important;}
#partenaire div:nth-of-type(3) {text-align:left !important;}

#partenaire div, #mentions div{padding:0 !important;}

#partenaire h2 {
    font-family: 'Open Sans';
    color: #666;
    padding: 10px;
    background-color: #FFF;
    position: absolute;
    top: -55px;
    text-align: center;
    width: 165px;}


#partenaire {border:1px solid #666;
            position:relative;
            height:auto;
            margin: 40px auto;
            padding:20px;}

#mentions{font-size:10px !important;
          width:100%;
          margin:0 auto;}

#mentions p{font-size: 12px !important;font-weight: 300;}

#mentions div:nth-of-type(2) a {text-decoration:none !important;
            margin-right:10px;
            color:#333;
            font-size: 10px !important;
            font-family: 'Open Sans';
            font-weight: 300;}

#mentions div:nth-of-type(1){text-align:left;}
#mentions div:nth-of-type(3){text-align:right;}

/*---------------------------------------*/


.table-striped > tbody > tr:nth-of-type(odd){
  background-color: #EBF7FE;
}

/*********** Responsive **********************/

@media(max-width:1200px){
  .list-conf{margin-top:120px;}
}

@media(min-width:992px) and (max-width:1024px) {
  .btn-group{
    padding-left: 10px;
  }

}

  @media(min-width:768px) and (max-width:1024px) {
     .btn-group {
      display: table-cell;

    }
    .btn-group select{
        margin-right: 30px;
    }
    .checkbox{
          margin-left: -270px;
          margin-top: -40px;

    }
    .liste-conferences{
          width: 85%;
          margin-right: 5%;

    }
    .list-conf {
      margin-top: 10%;
    }
    .menu-options{
        margin-left: 24%;
        display: table;
    }
    #langue{
      margin-right: 20px;
    }
    h3{
          padding-left: 4%;
    }
    hr{
      margin-top: 0;
    }
    .ranged{
    margin-left: -520px;
    padding-top: 30px;
    }
  }


@media(min-width:480px) and (max-width:768px) {

        body{
         margin-top: 1%;
        }
        .menu-options{
          width:100%;
          text-align: center;
        }
        .menu-options select{
          width: 100px;
          float: right;
        }
        #langue{
          margin-right: 0px;
        }
        .list-conf{
          margin-top: 16%;
        }
        .liste-conferences{
          clear: both;
          width: 85%;
          float: left;
          margin-left: 9%;
        }
        .ranged .checkbox{
          display: inline-block;
        }
        .popup-position {
          margin-top: 2%;
         }
         h3{
          margin-left: 2%;
         }
        .right{
          margin-top: -3.8%;
        }
        #row{
          margin-top: 10%;
        }

        #popup-identification-container{
          padding-top: 15%;
        }
  }


@media (max-width: 480px){
  .menu-options{
     width:100%;
    text-align: center;
  }
  .menu-options select{
    width: 80px;
    font-size: 13px;
  }
   #langue{
          margin-right: 0px;
        }
  .liste-conferences tr{
    text-align: right;
    display: grid;
    font-size: 14px;
  }
  .liste-conferences {
    text-align: center;
    float: left;
   width: 100%;
 }
 .ranged .checkbox{
          display: inline-block;
        }

        .liste-conferences .table>thead>tr>th {
    padding: 3px;



  h3{
    text-align: center;
  }
}

 @media (max-device-width: 640px) and (orientation: landscape){
         body{
         margin-top: 2%;
        }
        .popup-position {
          margin-top: 2.5%;
       }
       .right{
        margin-top: -3.8%;
      }
}