@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}


.navbar-custom {
    padding: 20px 0px;
    border-bottom: 1px solid #3399CC;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    padding:0;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
    font-size: 20px;
}

.nav-mobile{display:none;}

#nav-desktop .row div:nth-of-type(2), #nav-desktop .row div:nth-of-type(4){margin-top:20px;}


/*@media screen and (max-width: 768px){

    .navbar-brand img{
        width: 50px;
        height: 20px;
    }
}*/

.responsive{display:none;}

.fa-user {
    font-size: 35px !important;
}

.fa-bars{font-size:30px !important;}


    .form-control{border: 1px solid #3399CC !important;
                  font-size:18px !important;}

    #nav-desktop input {color:#000 !important;
              position:relative;
              height:45px !important;
              margin-top:10px;
              padding: 10px 50px !important;}

    #nav-desktop .fa-search{position:absolute;
              top:20px;
              left:30px;
              text-align:left;
              font-size:24px !important;
              }

               nav a img  { width: 150px;
    height: auto;
    margin-left: 30px;}


@media(min-width:768px) and (max-width:1024px) {


    .navbar-custom {
    width:100%;
}

nav a img{width:125px;
          height:auto;
          margin-left:20px;}

}



@media(min-width:480px) and (max-width:768px) {

  body{  background-size: 25%;}

    .navbar-custom {
    width:100%;
}

nav a img{width:100px;
          height:auto;
          margin-left:10px;
          margin-top:10px;}

}

@media(max-width:480px){

body{background-size: 20%;}

.responsive{display:block;}

    .navbar-custom {
    width:100%;
}

nav a img {width:150px;
          height:auto;
          margin-left:0px !important;
          }

.responsive div:nth-of-type(2){margin-left:15px;}

.responsive div:nth-of-type(3){margin-left:10px;}



.responsive .fa-bars{font-size:28px !important;
         margin:15px 20px}

.responsive .fa-user{font-size:30px !important;
        margin:15px 10px;
        }

.responsive .fa-search{
  font-size:28px !important;
        margin:15px 40px;
}

    .form-control{border: 1px solid #3399CC !important;
                  font-size:12px !important;}

.navbar{display:none;}

}