/*********************** CSS popup *************************/
.popup-position
{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	z-index: 9999;
	-moz-left: -15%;
	-webkit-left: 0%;
}

.popup-connexion
{
	width:100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 1031;
	background: rgba(43,38,38,0.5);
}

.popup-identification
{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 9999;
	top: 0;
	display: none;
	right: -15%;
	position: fixed;
}

#popup-identification-wrapper
{
	/*width: 29%;*/
	float: right;
	height: 100%;
}

#popup-connexion-wrapper
{
	top: 0;
	text-align: center;
	height: 100%;
}


#popup-wrapper
{
   width: 250px;
   height: 100%;
   float: left;
   background-color: #3399CC;
}


#popup-container, #popup-identification-container
{
	background: rgba(51, 153, 204, 1);
	border-radius: 3px;
	min-width: 198px;
	height: 100%;
	background-color: #3399CC;

}

	

	/*background-color: rgba(255, 255, 255, 1);*/

}

#popup-connexion-container
{
	
	background: rgba(255,255,255,1);
}


#popup-identification-container
{
	text-align: left;
}

#popup-connexion-container
{
	display: table;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
    height: 35%;
    margin-top: 50px;
    background-color: #FFF;
    padding-bottom:50px;
}

.popup-connexion .row-popup p
{
	display: inline-block;
	width: 49%;
	margin-top: 0%;
	margin-bottom: 0%;
}

#popup-identification-container div
{
	border-radius: 0;
	background: #3399cc;
	/*margin-left: 26%;*/
	/*margin-top: 8%;*/
}

/***************** Surcharge boostrap **********************/

#connect{
		width: 30%;
		margin-left: 25%
}

.connect 
{
	text-align: left;
	margin-left: 20%;
}

.close{
	margin-bottom: -5%;
    margin-top: -4%;
    color: #0F677B;
    opacity: 1;
}


::-webkit-input-placeholder { font-family: Coolvetica; font-size: 15px; }
::-moz-placeholder { font-family: Coolvetica; font-size: 15px;} /* firefox */
:-ms-input-placeholder { font-family: Coolvetica; font-size: 15px;} /* ie/edge */
input:-moz-placeholder { font-family: Coolvetica; font-size: 15px;}

.connect input , .connect input:hover
{
	width: 80%;
	border: none;
	border-bottom: 2px solid #3399cc;
}

.popup-connexion .row-popup p:nth-child(1)
{
	height: 100%;
	padding-top: 13px;
}

.popup-connexion .row-popup p:nth-child(2)
{
	color: #FFF;
	height: 100%;
	padding-top: 13px;
	background: #3399cc;
}


#main-left, #menu-right
{
  padding: 0;
  display: table;
  border-collapse: separate;
  width: 100%;
  height: 50px;
}

.row-popup
{
  padding: 0;
}

.row-popup > div 
{ 
	display: table-cell ;
	padding: 1em;
	
 }

 .row-popup > div:nth-child(1)
 {
   background-color: #FFF;
 }

 .row-popup > div:nth-child(2)
 {
   background-color: #1352a2;
 }

 .row-popup a, .row-popup a:hover
 {
 	display: block;
 	height: 8%;
 	font-size: 15px;
 	text-align: left;
 	margin: 10% 0 0 6%;
 	border-bottom: 1px solid white;
 	width: 80%;
 	color: #FFF;
 	text-decoration: none;
 }

 .resized, .resized a, .resized a:hover
 {
 	height: 6%;
 	font-size: 14px;
 }

.row-popup p
{
	margin-top: 5%;
	text-align:center;
}


.row-popup img
{
  width: 140px;
  height: auto;
  border-radius: 5px;
  margin: 30px;
}

#popup-container a, #popup-identification-container a
{
	text-decoration: none;
	color: #FFF;
}

.fa-arrow-left
{
 	color: #FFFFFF;
 	border: 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    border-radius: 100%;
}

.fa-arrow-right
{
 	color: #FFFFFF;
 	border: 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 100%;
    margin-top: 10%;
}

.fa-arrow-border
{
	border-color: 1px solid #FFFFFF;
}

@media(max-width:480px){

#popup-connexion-container
{	
	width:90%;
}

.close {
    margin-top: -10%;
}

#popup-wrapper
{
   width: 100%;

}

}