/**************************************************
*
*	CONTAINER STYLES
*
**************************************************/

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica.ttf);
}

.scroll_horiz_content
{
	width:auto;
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-1px;
	border:1px solid #3399cc;
}

.scroll_container
{
	width:2300px;
	margin:0px;
	padding:0px;
	height:300px;
}

.scroll_container ul
{
	margin:0px; padding:0px;
	float:left;
}

.scroll_horiz_inner
{
	padding:5px;
	padding-left:0px;
}

.scroll_container li
{
	list-style:none;
	display: inline-table;
	margin:0px;
}

.scroll_container li img
{
	padding:0px;
	margin:0px;
}



/**************************************************
*
*	SCROLLING STYLES
*
**************************************************/