/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: white;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*margin: 0 0 35px;*/
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}



p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    color:white;
}


a {
    color: #1b87c9;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: white;
}



.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg-presentation.png) no-repeat center;
    /*background-color: #000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}


@media(min-width:1024px) {

     .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }

        .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }


}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #1b87c9;
    color: #1b87c9;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #1b87c9;
    outline: 0;
    color: #fff;
    background-color: #1b87c9;
}

ul.banner-social-buttons {
    margin-top: 0;
    margin-bottom:30px;
}

@media(min-width:1024px){

        ul li{display:inline-block;}

        .brand-heading img{width:100%;
                        height:auto;
                        margin-bottom:10px;}

        p3, span1{    margin:10px 5px;}

}

@media(min-width:768px) and (max-width:1024px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }


    .brand-heading img{width:50%;
                        height:auto;
                    margin-bottom:10px;}

            p3,span1{
  font-size: 32px !important;
}

}



@media(min-width:480px) and (max-width:768px) {


    ul.banner-social-buttons li:last-child {
        margin-bottom: 10px;
    }

    .brand-heading img{width:50%;
                        height:auto;}

        p3, span1{
  font-size: 24px !important;
    }

    p3{padding-left:30% !important;}

}


@media(max-width:480px)
{
    .brand-heading img{width:30%;
                        height:auto;}

    p3, span1{
  font-size: 14px !important;
}


}

footer {
    font-family:'Raleway';
}

footer p {
    margin: 0;
}


#Animation-front{
  font: 40px/50px 'Open Sans', sans-serif;
  text-align:center;
  font-weight:100;
  color: #999;
margin: 20px 10px;
}

.Timer{margin:20px 10px;}

/*-----------------ANIMATION AU COEUR ... -------------*/
b {

    text-align: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  float: left; 
}
p3{
    padding-left: 20%;
  height: 50px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: 35px;
  color : black;
}
span1 {
  display: inline-block;
  color: #1b87c9;
  position: relative;
  white-space: nowrap;
  animation: move 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight:100;
}
@keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  60% { top: -150px; }
  80% { top: -0px;}
  80% { top: -0px;}
}

/*-----------------------------------------------------------*/

.foot{
    font-size: 15px;
    color:#1b87c9;
}

.foot a:hover{color:#000;}

.countdown{margin-bottom:20px;}